@import '../../../color.less';

.home {
  display: flex;
  flex-direction: row;
  width: 100%;
  .position{
    flex:1;
    height: 100%;
    display: flex;
    border-right: 1px solid black;
    flex-direction: column;
    .desc{
      border-bottom: 1px solid black;
      flex:1;
      line-height: 16px;
      font-size: 12px;
      padding: 12px;
    }
    .scatter-a{
      flex: 5;
      height: 100%;
      width: 100%;
    }

  }
  .line{
    flex:3;
    display: flex;
    flex-direction: column;
    .line-a{
      flex: 5;
    }
    .line-b{
      border-top: 1px solid black; 
      flex: 3;
    }
  }
}
