@border: #e5e6ea;
@menuWidth: 76px;
@menuHeight: 32px;
@appHeaderHeight: 50px;

.app {
  height: 100%;

  .app-content {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

    .app-body {
      flex: 1;
      height: 100%;
      padding: 12px;

      .item {
        margin: 12px;
        display: flex;
      }

      .label {
        display: inline-block;
        text-align: right;
        width: 164px;
      }

      .field {
        display: inline-block;
      }

      .downloadPath {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 24px;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
        width: 220px;
      }

      .submit {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          width: 86px;
          background: #8787ec;
          height: 32px;
          border-radius: 4px;
        }
      }
    }

    .app-footer {
      position: absolute;
      left: 50%;
      bottom: 4px;
      transform: translateX(-50% + 36px);
      text-align: center;
      color: rgb(141, 141, 141);
    }
  }
}
